{% extends "base.html" %}

{% load static wagtailcore_tags %}

{% block content %}

<div class="card ">
    <div class='' style="position:relative;">
        <img class="card-img" src="{% static "images/card-header-small.jpg" %}" alt="Card image cap">
        <img class="card-img-overlay d-flex justify-content-center align-items-center h-50 my-auto p-0"
            src="{% static "images/logo.svg" %}" width="100%" alt="Logo Image">
    </div>
    <div class="card-body p-3 pb-5">
        {% include 'home/_nav.html' %}
        <main class="text-center speech-bubble">
            <!-- <h1>{{ page.title }}</h1> -->
            <p>
                {{ self.thank_you_text|richtext }}
            </p>
        </main>
    </div>
</div>
{% endblock %}