{% extends "base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailembeds_tags %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}


<p class="card-text">{{ self.intro|richtext }}</p>

{% for block in page.body %}
<article>
    {% if block.block_type == 'heading' %}
    <h2 class="text-center">{{ block.value }}</h2>
    {% elif block.block_type == 'paragraph' %}
    {{ block.value }}
    {% elif block.block_type == 'image' %}
    {% image block.value width-400 class="img-fluid" alt="Responsive image" %}
    {% elif block.block_type == 'embed' %}
    <div class="youtube mx-auto">{{ block.value }}</div>
    {% elif block.block_type == 'buttonLink' %}
    <div class="row justify-content-center"><a class=" btn btn-primary btn-lg" href="{{ block.value.link }}" role="button">{{ block.value.text }}</a></div>
    {% endif %}
</article>
{% endfor %}

<form action="{% pageurl page %}" method="POST">
    {% csrf_token %}

    {% for field in form.visible_fields %}
    <div class="form-group mb-10">
        {{ field.errors }}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>

        {% if field.field.widget.input_type %}

        <input type="{% if field.field.widget.input_type == 'number' %}
                              tel
                         {% else %}
                              {{ field.field.widget.input_type }}
                         {% endif %}" class="form-control" name="{{ field.name }}" id="{{ field.id_for_label }}"
            placeholder="{{ field.help_text }}" {% if field.field.required %}required="required" {% endif %}>

        {% else %}

        <textarea type="{{ field.field.widget.input_type }}" class="form-control" name="{{ field.name }}"
            id="{{ field.id_for_label }}" placeholder="{{ field.help_text|safe  }}"
            {% if field.field.required %}required="required" {% endif %}></textarea>

        {% endif %}
    </div>
    {% endfor %}
    <div class="d-flex w-100 justify-content-center">
        <button type="submit" class="btn {{ self.button_css }}"><i class="{{ self.fa_left}}"></i>
            {{ self.button_text|safe }} <i class="{{ self.fa_right}}"></i></button>
    </div>
</form>


{% endblock %}